# Configuración de base de datos
# Para desarrollo (SQLite)
DATABASE_PROVIDER="sqlite"
DATABASE_URL="file:./dev.db"

# Para producción (PostgreSQL)
# DATABASE_PROVIDER="postgresql"
# DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/inv_velasti"

# Variables de entorno para producción
NODE_ENV="production"

# Configuración de la aplicación
NEXTAUTH_SECRET="tu-secret-super-seguro-aqui"
NEXTAUTH_URL="https://tu-dominio.com" 